<div class="ui grid">
    <div class="sixteen wide column">
        <h1>New Contact</h1>
    </div>
    <div class="sixteen wide column">
        <form #createContactForm="ngForm" class="ui big form">
            <div class="fields">
                <div class="two wide field">
                    <label>Salutation</label>
                    <input type="text" name="salutation" placeholder="Salutation" [(ngModel)]="contact.Salutation">
                </div>
                <div class="seven wide field">
                    <label>First Name</label>
                    <input type="text" name="first-name" placeholder="First Name" [(ngModel)]="contact.FirstName">
                </div>
                <div class="seven wide required field" [class.error]="!lastName.valid && !lastName.pristine">
                    <label>Last Name</label>
                    <input #lastName="ngModel" type="text" name="last-name" placeholder="Last Name" [(ngModel)]="contact.LastName" required>
                </div>
            </div>
            <div class="fields">
                <div class="ten wide field">
                    <label>Title</label>
                    <input type="text" name="title" placeholder="Title" [(ngModel)]="contact.Title">
                </div>
                <div class="six wide field">
                    <label>Birthdate</label>
                    <input type="text" name="birthdate" placeholder="MM/DD/YYYY" [(ngModel)]="contact.Birthdate">
                </div>
            </div>
            <div class="ui error message" *ngIf="error">
                <i class="close icon" (click)="error = null"></i>
                <div class="header">An Error Has Occured</div>
                <p>{{error}}</p>
            </div>
            <div class="ui button" type="submit" (click)="save()" [class.disabled]="!createContactForm.form.valid">Create</div>
        </form>
    </div>
</div>